{% extends 'home/show.html.twig' %}

{% block body %}

    <div class="left-panel">
        <ul class="release-panel">
            <li><a href="{{ path('homepage') }}"><button type="button" class="btn btn-primary btn-add"> Home </button></a></li>
            <li><a href="{{ path('add') }}"><button type="button" class="btn btn-primary btn-add"> New release </button></a></li>
            <li><a href="{{ path('search') }}"><button type="button" class="btn btn-primary btn-search">List releases</button></a></li>
        </ul>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Congrats!</h1>

                <h3>Your released is saved. Great job!</h3>
                <h3>Now, if there is anyone you want to share this information or if there are any applications that need your release, let them know!</h3>

                <h2>Spread the joy by clicking the button below. Else, just go back to work!</h2>


                    <a href="{{ path('inform', {'releaseId' : releaseId }) }}"><button type="button" class="btn btn-primary btn-add"> Any application involved? </button></a>

                    <a href="{{ path('homepage') }}"><button type="button" class="btn btn-primary btn-add"> Back to work! </button></a>
            </div>
        </div>
    </div>

{% endblock %}